body
{
    margin: 0;
    padding: 0;
    border-style: none;
    color:   #404040;
    background-color: #FFF;
}

div
{  
    margin-left: auto;
    margin-right: auto;
  
    font-family: arial, sans-serif;
    font-size:   1em; /*10pt;*/
    font-weight: normal;
}

div.main
{
    /*width: 720px;*/
}

div.header
{   
    background-color: #0B3C5D; /*#404040*/
/* 
    height: 150px;
    margin: 10px;
*/
    border-bottom: 8px solid #D9B310;

}

div.footer
{
    height: 40px;
    width:  720px;
    margin: auto; /* 10px;*/
    padding-top: 10px;
    text-align: center;
    color: #404040;
    border-top: 4px solid #0B3C5D;
}


div.content
{
    margin:   10px;
    padding:  10px 10px 10px 25px;
}

div.contentbox
{
    width: 720px;
    /*margin: 0px 0px 30px 0px;*/
    margin: auto;
    padding: 0px;
}

div.navigation
{
    /*margin:  0px 10px 0px 10px;*/    
    padding: 30px 30px 30px 30px;    
    /*background-color: #FFF;*/
    /*color: #404040;*/
    color: #FFF;
}


/************************************************************
 * Lists
 ***********************************************************/
ul.nav 
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


li.nav
{
    display: inline;
    margin: 0px;
    padding: 0px;
}

li
{
    margin-bottom: 1.25em;
}


/********************************************************************
 * Links
 *******************************************************************/
ul a
{
    /*display: inline-block; /* IE6 Hack */
}

ul.nav a
{
    font-size: 1.2em;
    display: inline;
    /*border-right: solid 1px #404040;*/
    border-right: solid 1px #FFF;
    color: #FFF;
    padding-right: 20px;
    margin-right:  20px;
}

#lastnav
{
    border-right: 0px;
}

a:link, a:visited, a:active
{
    color: #404040;
    text-decoration: none;
}

a:hover 
{
    color: #0B3C5D /*#404040*/;
    text-decoration: underline;
}

.contentbox a:link, 
.contentbox a:visited, 
.contentbox a:active
{
    color: #404040;
    text-decoration: underline;    
}

.contentbox a:hover
{
    color: #FFF;
    background-color:#0B3C5D /*#404040*/;
    text-decoration: underline;
}


/********************************************************************
 * Paragraphs
 *******************************************************************/
p { font-size: 1em;}

p.copyright, p.validate
{
    color: #404040;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

p.validate a
{
    color: #404040;
}

div.contentbox p
{
    padding-left: 10px;
    padding-right: 10px;
}


/********************************************************************
 * Headers
 *******************************************************************/
h1
{
    color: #0B3C5D /*#404040*/;
    font-size: 1.4em;
    padding: 5px;
    border-bottom: 1px solid #0B3C5D; /*#D9B310;*/
}

h2
{
    color: #0B3C5D /*#404040*/;
    font-size: 1.1em;
    padding: 5px 5px 5px 10px;
}

h3
{
    color: #0B3C5D /*#404040*/;
    font-size: 1em;
    padding: 5px 5px 5px 10px;
}

/********************************************************************
 * Images
 *******************************************************************/
img.img-top-right
{
    float: right;
    padding-left: 10px;
    padding-bottom: 5px;
}

img.img-top-left
{
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}

/********************************************************************
 * Tables
 *******************************************************************/
table
{
    border-collapse: collapse;
    width: 100%;
}

th
{
    background-color: #0B3C5D;
    color: #FFF;
    font-weight: normal;
}

td, th
{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) 
{
    background-color: #f2f2f2
}


/*********************************************************************
 * jquery Accordion
 ********************************************************************/
/*
.ui-accordion-header-collapsed
{
    background-color: #FFF;
}
.ui-accordion-header-active
{
    background-color: #0B3C5D;
}
*/
  .accordion-toggle {cursor: pointer;}
  .accordion-content {display: none;}
